# dependencies
node_modules
*/node_modules

# output
dist
frontend/dist
backend/out
backend/dist

# logs
*.log
backend/*.log

# environment
.env
.env.local
*/.env
*/.env.local

# IDEs
.idea
.vscode
*.sublime-project

# OS files
.DS_Store
Thumbs.db

docs/